/* Stops hero image from popping when modal is opened */
.modal-open{
    padding:0 !important;
    overflow-y: auto !important;
}

#home {
    height: 800px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/IMG-20211201-WA0017.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

i {
    color: black;
    font-size: 30px;
    margin-right: 10px;
}

#aboutMe {
    height: 800px;
    margin-bottom: 50px;
}

.box {
    margin-top: 60px;
    padding: 48px 20px;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.progress .progress-bar {
    transition: unset;
}

.about::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 2px;
    background: #0563bb;
    top: 23%;
    transform: translate(-50%, -50%);
    left: 50%
}

@media (max-width: 992px) {
    .about::before {
        top: 15%;
    }
}

@media (max-width: 768px) {
    .about::before {
        top: 11%;
        width: 90px;
    }
}

ul {
    list-style-type: none;
}

#education {
    height: 800px;
}


.title-edu::before {
    content: "";
    position: absolute;
    display: block;
    width: 125px;
    height: 2px;
    background: #0563bb;
    left: 47%
}

.btn-outline-info {
    color:  black !important;
}

#workExp {
    height: 800px;
}

#projects {
    height: 800px;
}

#interests {
    height: 800px;
}