/* Stops hero image from popping when modal is opened */
.modal-open{
    padding:0 !important;
    overflow-y: auto !important;
}

#home {
    height: 800px;
}

li.nav-item a {
    color: black;
}
li.nav-item a:hover:not(.active) {
    background-color: #555;
    color: whitesmoke;
}

.topics {
    padding-top: 48px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/IMG-20211201-WA0017.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

i {
    color: black;
    font-size: 30px;
    margin-right: 10px;
}

#aboutMe {
    margin-bottom: 50px;
}

.box {
    padding: 20px 28px;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.about {
    padding: 48px 20px;
}

.progress .progress-bar {
    transition: unset;
}

.section-title h2 {
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 3px;
    bottom: 1px;
    background: #0563bb;
    left: calc(50% - 60px);
}

.carousel-indicators [data-bs-target] {
    background-color: black;
    height: 5px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(1) grayscale(100);
}

@media (max-width: 768px) {
    .eduInfo {
        text-align: center;
    }
    .year {
        margin-bottom: 30px;
        margin-left: 50px;
    }
}

.content {
    position: relative;
}

.interest::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 60px;
    background: #e9ecef;
    z-index: 1;
}

#contactMe {
    margin-top: 100px;
}

.img-resp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 500px;
}