/* Stops hero image from popping when modal is opened */
.modal-open{
    padding:0 !important;
    overflow-y: auto !important;
}

#home {
    height: 800px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/IMG-20211201-WA0017.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

i {
    color: black;
    font-size: 30px;
    margin-right: 10px;
}

#aboutMe {
    margin-bottom: 50px;
}

.box {
    margin-top: 60px;
    padding: 48px 20px;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.progress .progress-bar {
    transition: unset;
}

.section-title h2 {
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 3px;
    bottom: 1px;
    background: #0563bb;
    left: calc(50% - 60px);
}

ul {
    list-style-type: none;
}

#workExp {
    height: 800px;
}

#interests {
    height: 800px;
}

.carousel-indicators [data-bs-target] {
    background-color: black;
    height: 5px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(1) grayscale(100);
}

@media (max-width: 768px) {
    .eduInfo {
        text-align: center;
    }
    .year {
        margin-bottom: 30px;
        margin-left: 50px;
    }
}